In [ ]:
import sys, os
import pandas as pd
# Add parent folder to sys.path
sys.path.append(os.path.abspath(".."))

from scripts.data_loader import load_all_data

In [ ]:
from scripts.data_cleaner import (
    clean_ip_detail, clean_admission_list, clean_ip_discharge,
    clean_opd_detail, clean_op_discharge_df, clean_patient_details,
    clean_doctor_master, clean_code_master, clean_marketing_agent_df,
    clean_tpa_mapping_df, clean_op_deposit
)

In [2]:
data = load_all_data()

NameError: name 'load_all_data' is not defined

In [4]:
ip_detail_df = clean_ip_detail(data.get('ip_detail_df'))

C:\Fahim\Surana Hospital\scripts\data_cleaner.py:40: UserWarning: Parsing dates in %m/%d/%Y format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], dayfirst=True, errors='coerce')

âœ… ip_detail_df cleaned successfully

In [5]:
patient_detail_df = clean_patient_details(data.get('patient_detail_df'))

âœ… patient_details_df cleaned successfully

In [6]:
ip_discharge_df = clean_ip_discharge(data.get('ip_discharge_df'))

âœ… ip_discharge_df cleaned successfully

In [3]:
from scripts.data_loader import load_all_data
import numpy as np
from scripts.data_cleaner import (
    clean_ip_detail, clean_admission_list, clean_ip_discharge,
    clean_opd_detail, clean_op_discharge_df, clean_patient_details,
    clean_doctor_master, clean_code_master, clean_marketing_agent_df,
    clean_tpa_mapping_df, clean_op_deposit,compute_revenue
)
import pandas as pd

In [4]:
data = load_all_data()

# Extract DataFrames safely
ip_detail_df = data.get('ip_detail_df', pd.DataFrame())

ðŸ“‚ Loading 26 CSV files...

ðŸ“Š Reading CSVs: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 26/26 [00:04<00:00,  5.45file/s]

âœ… 26 CSV files loaded successfully!
Dataframe created: ip_detail_df
ðŸ“‚ Loading 11 CSV files...

ðŸ“Š Reading CSVs: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11/11 [00:00<00:00, 58.03file/s]

âœ… 11 CSV files loaded successfully!
Dataframe created: ip_discharge_df
ðŸ“‚ Loading 14 CSV files...

ðŸ“Š Reading CSVs: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 14/14 [00:00<00:00, 19.82file/s]

âœ… 14 CSV files loaded successfully!
Dataframe created: op_detail_df
ðŸ“‚ Loading 12 CSV files...

ðŸ“Š Reading CSVs: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 12/12 [00:00<00:00, 25.98file/s]

âœ… 12 CSV files loaded successfully!
Dataframe created: op_discharge_df
ðŸ“‚ Loading 11 CSV files...

ðŸ“Š Reading CSVs: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11/11 [00:00<00:00, 43.88file/s]

âœ… 11 CSV files loaded successfully!
Dataframe created: patient_detail_df
ðŸ“‚ Loading 3 CSV files...

ðŸ“Š Reading CSVs: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [00:00<00:00, 98.87file/s]

âœ… 3 CSV files loaded successfully!
Dataframe created: op_deposit_df
ðŸ“‚ Loading 3 CSV files...

ðŸ“Š Reading CSVs: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [00:00<00:00, 661.28file/s]

âœ… 3 CSV files loaded successfully!
Dataframe created: expired_pt
ðŸ“‚ Loading 3 CSV files...

ðŸ“Š Reading CSVs: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [00:00<00:00, 47.82file/s]

âœ… 3 CSV files loaded successfully!
Dataframe created: admission_list
Dataframe created: doctor_master_df
Dataframe created: code_master_df
Dataframe created: opd_code_master_df
Dataframe created: marketing_agent_df
Dataframe created: tpa_mapping_df
Dataframe created: op_charge_code
Dataframe created: tpa_data_df
Dataframe created: mjpjay_df

In [6]:
ip_detail_df.to_csv('ip_detail.csv')

In [7]:
ip_detail_df.columns

Index(['chrg_cd3', 'chrg_desc2', 'Textbox315', 'Textbox316', 'Textbox317',
       'Textbox318', 'Textbox350', 'vch_dt', 'ip_no', 'ptn_name', 'srv_desc',
       'no_units', 'ShrDoc1', 'ShrFeeSrc', 'amt', 'shr_cmpnt_amt', 'Textbox44',
       'crt_usr', 'rev_dt', 'ptn_no', 'ptn_cls_desc', 'shr_cmpnt_srv_Desc'],
      dtype='object')

In [8]:
ip_detail_df['srv_desc'].unique()

array(['Bed Charges', 'Registration Charges', 'Admission Charges', ...,
       'CYSTOSCOPY URS WITH DJ STENTING B/L',
       'Preoperative Prophylactic Tumor Embolization',
       'Cyst and Tumour Mandible By enucleation /excision'],
      shape=(2158,), dtype=object)

In [12]:
serv_desc = pd.DataFrame(ip_detail_df['srv_desc'].unique(), columns=['srv_desc'])

In [14]:
# Group by 'srv_desc' and aggregate 'chrg_desc2' into a list of unique values
grouped_df = ip_detail_df.groupby('srv_desc')['chrg_desc2'].unique().reset_index()

In [16]:
grouped_df.to_csv('new_service.csv')

In [17]:
op_detail_df = data.get('op_detail_df', pd.DataFrame())

In [18]:
op_detail_df.columns

Index(['Textbox46', 'Textbox10', 'Amount', 'Textbox54', 'Textbox55',
       'Textbox56', 'Textbox42', 'vch_dt', 'CONSULTATIONTM_FRMTD', 'vch_no',
       'ptn_no', 'Textbox23', 'DoctorFullName', 'srv_desc', 'shrsrvnm',
       'ShrDoc', 'ShrFeeSrc', 'UNITS1', 'Amount1', 'ConcAmt', 'RefAmt',
       'NetAmt', 'Textbox43'],
      dtype='object')

In [19]:
op_detail_df.head()

,Textbox46,Textbox10,Amount,Textbox54,Textbox55,Textbox56,Textbox42,vch_dt,CONSULTATIONTM_FRMTD,vch_no,...,srv_desc,shrsrvnm,ShrDoc,ShrFeeSrc,UNITS1,Amount1,ConcAmt,RefAmt,NetAmt,Textbox43
0,Chrg Cd 12 : Registration Charges ...,1904.0,133650.0,9752,-3400.0,130400,0.0,2/02/2018,12:56PM,1084753,...,Opd Registration Charges,NaN,NaN,NaN,1.0,100.0,0,0.0,100,0.0
1,Chrg Cd 12 : Registration Charges ...,1904.0,133650.0,9752,-3400.0,130400,0.0,6/02/2018,3:59PM,1084944,...,Opd Registration Charges,NaN,NaN,NaN,1.0,100.0,0,0.0,100,0.0
2,Chrg Cd 12 : Registration Charges ...,1904.0,133650.0,9752,-3400.0,130400,0.0,7/02/2018,11:07AM,1084963,...,Opd Registration Charges,NaN,NaN,NaN,1.0,100.0,0,0.0,100,0.0
3,Chrg Cd 12 : Registration Charges ...,1904.0,133650.0,9752,-3400.0,130400,0.0,7/02/2018,11:52AM,1084969,...,Opd Registration Charges,NaN,NaN,NaN,1.0,100.0,0,0.0,100,0.0
4,Chrg Cd 12 : Registration Charges ...,1904.0,133650.0,9752,-3400.0,130400,0.0,7/02/2018,11:54AM,1084970,...,Opd Registration Charges,NaN,NaN,NaN,1.0,100.0,0,0.0,100,0.0